# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ IDEA
.idea/
*.iml
*.iws

# Java build output
out/
*.class

# Other
hs_err_pid*